*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Library/FailedAssetImports.txt
/Library/cache/
/Library/previews/
/Library/ScriptAssemblies
/obj
/Temp
Library/assetDatabase3
Library/CurrentMaximizeLayout.dwlt
Library/guidmapper
Library/metadata/11/11b75124ad9f0114c95ad0408db019d2
Library/metadata/fc/fca65849e65d3e340851043b072647e8
Library/InspectorExpandedItems.asset
Library/EditorUserBuildSettings.asset
Library/metadata/d7/d734da76f913bde4bb3b0cedd010face
